.bg{
    background-color: #e9ecef;
}
.home{
    background-color: #f7f7f7;
}
#cf {
    position:relative;
}
  
#cf img {
    position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
opacity:0;
}